{block title}
  Hotel Prestíž - Zľavy - Pridať
{/block}
{block content}
<div align="center">
      {control addForm}
</div>

<div class="card blurred-card text-center">
  <div class="card-block">
    {foreach $flashes as $flash}
    <div class="alert alert-success">
       <strong>Úspešne pridané</strong> {$flash->message}
    </div>
    {/foreach}
    <a href="{link Mainpage:Discount}" class="btn btn-primary">Návrat do zliav</a>
  </div>
{/block}
