{block title}
  Hotel Prestíž - Pobyty - Pridať službu
{/block}
{block content}
<div align="center">
      {control addServiceForm}
</div>

<div class="card blurred-card text-center">
  <div class="card-block">
    {foreach $flashes as $flash}
    <div class="alert alert-success">
       <strong>Úspešne pridané</strong> {$flash->message}
    </div>
    {/foreach}
    <a href="{link Mainpage:Accomodation}" class="btn btn-primary">Návrat do pobytov</a>
  </div>
{/block}
