{block title}
  Hotel Prestíž - Služby - Upraviť
{/block}
{block content}
<div align="center">
      {control editForm}
</div>

<div class="card blurred-card text-center">
  <div class="card-block">
    {foreach $flashes as $flash}
    <div class="alert alert-success">
       <strong>Úspešne upravené</strong> {$flash->message}
    </div>
    {/foreach}
    <a href="{link Mainpage:Service}" class="btn btn-primary">Návrat do služieb</a>
  </div>
{/block}
